{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>E D O Z I E N</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'net/img/favicon.png' %}" rel="icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'net/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'net/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'net/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'net/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'net/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'net/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'net/css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">
  
  {% block content %}
  {% endblock %}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'net/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'net/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'net/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'net/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'net/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'net/lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'net/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'net/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'net/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'net/lib/typed/typed.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'net/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'net/js/main.js' %}"></script>

</body>

</html>