{% extends "net/base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="{% url 'home' %}">E D O Z I E N</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!--/ Navbar Start /-->
        {% include 'net/navbar.html' %}
        <!--/ Navbar End /-->
    </div>
</nav>

<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url({% static 'net/img/lives-2.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="intro-title mb-4">{{ object.title }}</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item active">
                        <a href="{% url 'blog-posts' %}">&laquo; Back to Posts</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="{{ object.image.url }}" class="img-fluid" alt="article-image">
                    </div>
                    <div class="post-meta">
                        <h1 class="title">{{ object.title | title }}</h1>
                        {% if object.sub_title %}
                            <p class="subtitle-a h5">
                                {{ object.sub_title }}
                            </p>
                        {% endif %}
                        <ul class="small mb-5">
                            <li>
                                <span class="ion-ios-person"></span>
                                <a href="{% url 'user-posts' object.author.username %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
                            </li>
                            <li>
                                <span class="ion-ios-calendar-outline"></span>
                                {{ object.date_posted|date:"M d, Y"}}
                            </li>
                        </ul>
                    </div>
                    <div class="lead article-content mb-5">
                        <p>
                            {{ object.body|safe }}
                        </p>
                    </div>
                    <div>
                        {% for category in object.category.all %}
                            <button type="button" class="btn btn-outline-secondary btn-sm">#{{ category.name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="box-comments">
                    <div class="title-box-2">
                        <h4 class="title-comments title-left">Comments</h4>
                    </div>
                    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
                </div>
            </div>
            <div class="col-md-4">
                {% if user.is_authenticated %}
                <div class="widget-sidebar widget-tags">
                    <h5 class="sidebar-title">Actions</h5>
                    <div class="sidebar-content">
                        <a href="{% url 'post-update' object.id %}" class="btn btn-secondary bt-sm mb-1 mt-1">Update Post</a>
                        <a href="{% url 'post-delete' object.id %}" class="btn btn-danger bt-sm mb-1 mt-1">Delete Post</a>
                    </div>
                </div>
                {% endif %}
                <!-- Search Bar Here -->
                <!-- <div class="widget-sidebar sidebar-search">
                    <h5 class="sidebar-title">Search</h5>
                    <div class="sidebar-content">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..."
                                    aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary btn-search" type="button">
                                        <span class="ion-android-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="widget-sidebar">
                    <h5 class="sidebar-title">Recent Articles</h5>
                    <div class="sidebar-content">
                        <ul class="list-sidebar">
                            {% for post in recent_posts %}
                                <li>
                                    <a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget-sidebar widget-tags">
                    <h5 class="sidebar-title">Tags</h5>
                    <div class="sidebar-content">
                        <ul>
                            {% for category in all_categories %}
                            <li>
                                <a href="#">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Blog-Single End /-->

<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url({% static 'net/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>

    {% include 'net/footer.html' %}

</section>
<!--/ Section Contact-footer End /-->
{% endblock %}