{% load static %}
<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url({% static 'net/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright 2021</p>
                        <div class="credits">
                            Developed by <a href="https://twitter.com/CodepriestM/" target="_blank"><strong>CodePriest Media</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>