{% extends "net/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url({% static 'net/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="intro-title mb-4">{{ message.subject }}</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item active">
                        <a href="{% url 'inbox' %}">&laquo; Back to Inbox</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-box">
                    <div class="d-flex">
                        <div>
                            <h2 class="w-title mb-0">{{ message.name }}</h2>
                            <span class="text-muted small">{{ message.email }}</span>
                        </div>
                        <div class="ml-auto">
                            <span class="text-muted small">{{ message.date_sent|date:"D. d M, Y " }} ({{ message.date_sent|naturaltime}})</span>
                        </div>
                   </div>
                   <hr>
                   <div class="lead">
                        {{ message.body }}
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Blog-Single End /-->

<!--/ Section Contact-Footer Star /-->
{% include 'net/footer.html' %}
<!--/ Section Contact-footer End /-->

{% endblock %}