{% extends "net/base.html" %}
{% load static %}

{% block content %}
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="{% url 'home' %}">E D O Z I E N</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="{% url 'home' %}">Home Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url({% static 'net/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="intro-title mb-4">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item active">
                        <a href="{% url 'blog-posts' %}">&laquo; All Posts</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4">
    <div class="container">
        {% if user.is_authenticated %}
            <div class="d-flex justify-content-end mb-4">
                <a href="{% url 'post-create' %}" class="btn btn-success btn-lg">Add new Post</a>
            </div>
        {% endif %}
        <div class="row">
            {% for post in posts %}
            <!-- <div class="col-md-4 card-deck"> -->
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="{% url 'post-detail' post.id %}"><img src="{{ post.image.url }}" alt=""
                                class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            {% for category in post.category.all %}
                            <div class="card-category">
                                <h6 class="category">{{ category.name }}</h6>
                            </div>
                            {% endfor %}
                        </div>
                        <h3 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                        <!-- <p class="card-description">
                        {{ post.body|truncatechars_html:100|safe }}
                      </p> -->
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <img src="{{ post.author.profile.image.url }}" alt="" class="avatar rounded-circle">
                            <span class="author text-muted"><a href="{% url 'user-posts' post.author.username %}"> {{ post.author.first_name }} {{ post.author.last_name }} </a></span>
                        </div>
                        <div class="post-date text-muted">
                            <span class="ion-ios-calendar-outline"></span>
                            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-center">
                <span class="badge badge-secondary">No Blog Posts yet</span>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-primary btn-sm mt-2 mb-2">First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary btn-sm mt-2 mb-2">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    ef="?page={{ num }}" class="btn btn-primary btn-sm mt-2 mb-2">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                    <a href="?page={{ num }}" class="btn btn-outline-primary btn-sm mt-2">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary btn-sm mt-2 mb-2">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary btn-sm mt-2 mb-2">Last</a>
            {% endif %}
        {% endif %}
    </div>
</section>
<!--/ Section Blog-Single End /-->

<!--/ Section Contact-Footer Star /-->
{% include 'net/footer.html' %}
<!--/ Section Contact-footer End /-->

{% endblock %}